* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

footer {
  margin-top: 5px;
}

main {
  flex: 1;
  min-height: 50px;
  background-color: transparent;
  padding: 25px;

}

button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 5px 20px;
  width: 50%;
  height: 40px;
  display: inline-flex;
  place-items: center;
  justify-content: center;
}

p { color: var(--muted-foreground); }

.rounded { border-radius: 5px; }
.rounded-large { border-radius: 10px; }
.default-border { border: 2px solid var(--secondary) }

.flex-center {
  display: inline-flex;
  place-items: center;
  justify-content: center;
}

.inline { display : inline; }
.block { display : block; }
.left-content { text-align: left; }

.color-muted { color: var(--muted-foreground); }
.color-foreground { color: var(--foreground); }
.color-primary { color: var(--primary); }
.color-alert { color: var(--alert); }

.bg-primary { background-color: var(--primary); }
.bg-input { background-color: var(--input); }

.icon {margin-right: 5px;}
