.classify-button {
  color: var(--foreground);
  background-color: var(--primary);
  width: 100%;
  margin-top: 20px;
}

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid var(--muted-foreground);
  border-top: 2px solid var(--foreground);
  border-radius: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);}
}
