textarea {
  background-color: var(--input);
  width: 100%;
  resize: vertical;
  min-height: 400px;
  border: 2px solid var(--secondary);
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

label div {
  border: 2px dashed var(--secondary);
  border-radius: 5px;
  padding: 50px 20px;
  margin-bottom: 20px;
}
