textarea {
  width: 100%;
  resize: vertical;
  min-height: 400px;
  padding: 10px;
  font-size: 16px;
}

label div {
  border: 2px dashed var(--secondary);
  padding: 50px 20px;
  margin-bottom: 20px;
}
